:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.8);
}
section {
  display: grid;
  justify-content: center;
  figure {
    width: 400px;
    border: 1px solid gray;
    padding: 1rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.563);
    border-radius: 0.5rem;
    img {
      max-width: 100%;
    }
    p span {
      color: burlywood;
    }
    h3 {
      color: burlywood;
    }
  }
}
.Mary {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-block: 2rem;
  input,
  button {
    outline: none;
    border: 1px solid gray;
    background: white;
    padding: 0.3rem;
    font: inherit;
    border-radius: 0.5rem;
  }
  button {
    cursor: pointer;
    font-style: italic;
  }
}
